@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

header img{
    height: 50px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
}

.main{
    height: 97vh;
    border: 1px solid black;
    width: 70%;
    position: absolute;
    left: 18%;
    top: 10px;
}
.main img{
    height: 100%;
    width: 300px;
    float: left;
}
.main h2{
    text-align: center;
    font-family: 'nunito',sans-serif;
    font-size: 3rem;
}

.main table{
    padding: 10px;
}

.main table tr{
    font-size: 1.2rem;
}

.main table input{
    height: 2rem;
    width: 25rem;
    border-radius: 7px;
}

.main button{
    height: 3rem;
    width: 20rem;
    cursor: pointer;
    margin-left: 20px;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
  
}